
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-fragment(title,path)">
    <meta charset="UTF-8">
    <title>NanShop-mall</title>
    <link rel="stylesheet" th:href="@{/mall/css/swiper.min.css}">
    <link rel="stylesheet" th:href="@{/mall/css/iconfont.css}">
    <link rel="stylesheet" th:href="@{/mall/css/common.css}">
    <link rel="stylesheet" th:href="@{/mall/styles/header.css}">
    <link rel="stylesheet" th:href="@{/mall/styles/style.css}">
    <link rel="stylesheet" th:href="@{/mall/styles/reset.css}">
    <link rel="stylesheet" th:href="@{'/mall/styles/'+${path}+'.css'}">
    <link rel="stylesheet" th:href="@{/admin/plugins/sweetalert/sweetalert.css}"/>
  </head>
<nav id="nav" th:fragment="nav-fragment">
    <div class="banner_x center">
        <a th:href="@{/index}" class="logo"><h1>NanShpMall</h1></a>
        <ul class="list">
            <li><a th:href="@{/search?goodsCategoryId=20}">华为Nova手机</a></li>
            <li><a th:href="@{/search?goodsCategoryId=115}">MacBook</a></li>
            <li><a th:href="@{/search?goodsCategoryId=76}">荣耀智慧屏</a></li>
<!--            <li><a th:href="@{/search?goodsCategoryId=20}">智能硬件</a></li>-->
<!--            <li><a th:href="@{/search?goodsCategoryId=20}">影音</a></li>-->
<!--            <li><a th:href="@{/search?goodsCategoryId=20}">穿戴</a></li>-->
        </ul>
        <div class="fr">
            <div class="search">
                <input class="text" type="text" id="keyword" autocomplete="off">
                <div class="search_hot">
                </div>
            </div>
            <div class="button iconfont icon-search" onclick="search()"></div>
        </div>
    </div>
</nav>
<header id="header" th:fragment="header-fragment">

    <div class="site-topbar " style="background-color:black ">
        <div class="container clearfix">
            <!--顶部导航-->
            <div class="topbar-nav pull-left">
                <a class="active" th:href="@{/index}">NanShop</a>
                <span class="sep">|</span>
                <a th:href="@{/admin}">后台管理</a>
                <span class="sep">|</span>
                <a href="javascript:;">NanTalk</a>
                <span class="sep">|</span>
                <a href="javascript:;">NanGame</a>
                <span class="sep">|</span>
                <a href="javascript:;">NanReader</a>
                <span class="sep">|</span>
                <a href="javascript:;">AirNan</a>
                <span class="sep">|</span>
                <a href="javascript:;">NanMobile</a>
                <span class="sep">|</span>
                <a href="javascript:;">NanCommunication</a>
                <span class="sep">|</span>
            </div>



            <th:block th:unless="${session.nanShopMallUser==null}">
                <div class="topbar-user pull-right">
                    <span class="sep">|</span>
                    <a th:href="@{/personal}">
                        <th:block th:text="${session.nanShopMallUser.nickName}"></th:block>
                    </a>
                    <span class="sep">|</span>
                    <a th:href="@{/orders}">
                        我的订单
                    </a>
                    <span class="sep">|</span>
                    <a th:href="@{/logout}">
                        退出登录
                    </a>
                    <span class="sep">|</span>
                </div>
                <div class="topbar-cart pull-right">
                            <a th:href="@{/shop-cart}" style="color: white;"><i class="iconfont icon-cart"></i>
                                购物车(
                                <th:block th:text="${session.nanShopMallUser.shopCartItemCount}"></th:block>
                                )</a>
                        </div>
                    </th:block>


            <th:block th:if="${session.nanShopMallUser==null}">

                <!--登入、注册-->
                <div class="topbar-user pull-right">
                    <span class="sep">|</span>
                    <a th:href="@{/login}">登录</a>
                    <span class="sep">|</span>
                    <a th:href="@{/register}">注册</a>

                </div>
                <div class="topbar-cart pull-right">
                    <a th:href="@{/login}">
                        <i class="iconfont icon-cart"></i>
                        购物车(<span>0</span>)
                    </a>
                </div>
            </th:block>


        </div>
    </div>

</header>
</html>
